.remote {
    width: 350px;

    .card-remote {

        .icons-home {
            display: flex;
            margin: auto;
            font-size: 20px;
            gap: 20px;
        }

        .button-type {
            display: flex;
            flex-direction: column;
            font-size: small;

            button {
                margin-bottom: 5px;
            }
        }

    }
}